@import './variables.scss';

body {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  font-family: $font-basic;
  color: $text-dark;
  background-color: $bg-light;
  margin: 0px;
}

.main {
  margin: 12px;
}

.nav {
  display: grid;
  max-width: 100vw;
  background-color: $bg-dark;
  grid-template-columns: repeat(10, 1fr);

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 12px;
    background-color: $bg-transp;
    @include shadow;
    
    &__text {
      color: $text-main;
    }
  }
}

.user_card {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 30px;
  padding: 20px;
  background-color: $bg-transp;
  max-width: 400px;
  min-height: 350px;

  img {
    max-width: 300px;
  }
}
