@import './variables.scss';

body {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  font-family: $font-basic;
  color: $text-dark;
  background-color: $bg-light;
  margin: 0px;
}

.main {
  margin: 30px;
}

h1 {
  font-size: 2em;
}

.nav {
  display: grid;
  max-width: 100vw;
  background-color: $bg-main;
  grid-template-columns: repeat(10, 1fr);

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 12px;
    background-color: $bg-dark;
    @include shadow-small;
    
    &__text {
      color: $text-main;
    }
  }
}

.signup_container {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
  }
}

.cards_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.signup_form {
  @include card-defaults;

  min-width: 600px;

  &__input {
    padding: 5px;
    margin: 10px;
    
    &__area {
      font-family: sans-serif;
      padding: 5px;
      margin: 10px;
      height: $textarea-height;
    }
  }

  &__fields {
    margin-bottom: 20px;

    label {
      text-align: right;
    }
    #bio_label {
      position: relative;
      top: calc(($textarea-height / 3) * -1);
    }

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: max-content 350px;
  }
}

.user_card {
  @include card-defaults;
  
  max-width: 300px;
  min-width: 200px;

  &__badge {
    position: absolute;
    bottom: 100%;
    left: 100%;
    transform: translate(-65%, 65%);
    width: 20%;
    padding-bottom: 20%;
    background-color: $highlight;
    border: 6px solid $alt-highlight;
    border-radius: 50%;

    p {
      position: absolute;
      text-align: center;
      text-justify: center;
      font-size: 0.85em;
      top: 7%;
    }
  }
}

.rock_card {
  @include card-defaults;
  
  max-width: 300px;
  min-width: 200px;

  p {
    margin-top: 0px;
  }
}
